<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.re100io.mybatisdemo.mapper.WriterMapper">

    <resultMap id="writerMap" type="com.re100io.mybatisdemo.model.Writer">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="nationality" property="nationality" />
        <result column="birth_date" property="birthDate" />
        <result column="bio" property="bio" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <insert id="insertWriter" parameterType="com.re100io.mybatisdemo.model.Writer">
        INSERT INTO Writer (name, nationality, birth_date, bio)
        VALUES (#{name}, #{nationality}, #{birthDate}, #{bio})
    </insert>

    <select id="selectWriterById" parameterType="long" resultMap="writerMap">
        SELECT * FROM Writer WHERE id = #{id}
    </select>

    <select id="selectAllWriters" resultMap="writerMap">
        SELECT * FROM Writer
    </select>

    <update id="updateWriter" parameterType="com.re100io.mybatisdemo.model.Writer">
        UPDATE Writer
        SET name = #{name}, nationality = #{nationality}, birth_date = #{birthDate}, bio = #{bio}
        WHERE id = #{id}
    </update>

    <delete id="deleteWriterById" parameterType="long">
        DELETE FROM Writer WHERE id = #{id}
    </delete>

</mapper>
